a {
  text-decoration: none;
}
.login-page {
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  background: url(/images/hydroponicgede.jpg);
  background-size: cover;
  background-attachment: fixed;
}
/* #content {
  background: url(/images/hydroponicgede.jpg);
  background-size: cover;
} */
.form-right i {
  font-size: 100px;
}
.custom-file-label {
  margin-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
}
#ph,
#temp,
#ppm {
  display: flex;
  color: white;
}
#stylesensor {
  color: #2eaf7d;
}
/* .wrapper {
  height: 96vh;
} */
#tempchartline,
#tdschartline,
#phchartline {
  margin-top: 60px;
}
/* #tdschartline {
  margin-top: 60px;
} */
.card-img-top {
  height: 200px;
  object-fit: cover;
}
